body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #f6f6f6;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 0 20px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
}

.title span.in {
    color: #d35400;
    /* gelap orange */
}

.grid-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu-box {
    background: #fff;
    border: 2px solid #e6e6e6;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    width: 28%;
    min-width: 240px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-box:hover {
    background-color: #fef2e0;
    border-color: #d35400;
    transform: translateY(-3px);
}

.menu-box-nama {
    background: #fad898;
    border: 2px solid #e6e6e6;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    width: 28%;
    min-width: 240px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-box-nama:hover {
    background-color: #e28800;
    border-color: #d35400;
    transform: translateY(-3px);
}
.menu-box-struktur {
    background: #c4d80e;
    border: 2px solid #e6e6e6;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    width: 28%;
    min-width: 240px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-box-struktur:hover {
    background-color: #bcff06;
    border-color: #d35400;
    transform: translateY(-3px);
}
footer {
    margin-top: 60px;
    text-align: center;
    padding: 20px 0;
    color: #888;
    font-size: 14px;
}

@media (max-width: 768px) {
    .menu-box {
        width: 100%;
    }
}

body {
    background: #f8f9fa;
    font-family: "Segoe UI", sans-serif;
}

.container {
    max-width: 960px;
    margin-top: 50px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 40px;
}

.title h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 1.2;
}

.title .in {
    color: red;
}

.form-access {
    margin-top: 30px;
    padding: 30px;
    background: #f1f1f1;
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}
.nama-menucek {
    font-size: 15px;
}
.form-access input {
    border-radius: 10px;
    height: 45px;
}

.form-access button {
    border-radius: 10px;
}

footer {
    font-size: 14px;
}
